* {
    touch-action: none;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

html {
    height: 100vh;
}

chapter {
    height: 90vh;
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0;
    column-width: 100vw;
    transition: 200ms;
}