* {
    touch-action: none;
}

body {
    overflow: hidden;
    position: relative;
}

chapter {
    height: 96vh;
    /* padding: var(--readerSettings-padding); */
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 0;
    column-width: 100vw;
    transition: 200ms;
}