body.page-reader {
  overflow: hidden;
  padding-bottom: unset;
}

body.page-reader > #LNReader-chapter {
  height: calc(90vh);
  column-width: calc(100vw - var(--readerSettings-padding) * 2);
  column-gap: calc(var(--readerSettings-padding) * 2);
  transition: 200ms;
}
.transition-chapter {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;

  position: fixed;
  left: 100vw;
  top: 0;

  box-sizing: border-box;
  padding: var(--readerSettings-padding);
  padding-top: 30vh;

  text-align: center;
  font-size: 2rem;
  z-index: 888888;
  background-color: var(--readerSettings-theme);
}
