#TTS-Controller {
  position: fixed;
  top: 50%;
  left: 20px;
  opacity: 0.5;
}

#TTS-Controller button {
  background: var(--theme-surface-0-9);
  outline: none;
  border-width: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 4px;
  border-radius: 100%;
  transition: 0.5s;
}

#TTS-Controller.active {
  opacity: 1;
}

#TTS-Controller.active button {
  padding: 16px;
}

#TTS-Controller svg {
  fill: var(--theme-onSurface);
  width: 20px;
  height: 20px;
}

#TTS-Controller.active svg {
  width: 24px;
  height: 24px;
}
