name: react-native-android-build-apk
on:
    push:
        branches:
            - main
jobs:
    install-and-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install npm dependencies
              run: |
                  npm install
    build-android:
        needs: install-and-test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install npm dependencies
              run: |
                  npm install
            - name: Build Android Release
              run: |
                  cd android && ./gradlew assembleRelease
